/*************
 * Level Bar *
 *************/
levelbar {
  block {
    min-width: 32px;
    min-height: 5px;
  }

  &.vertical block {
    min-width: 5px;
    min-height: 32px;
  }

  &:backdrop { transition: $backdrop_transition; }

  trough {
    padding: 0px;
    border-radius: 0px;
  }

  &.horizontal.discrete block { margin: 0 1px; }

  &.vertical.discrete block { margin: 1px 0; }

  block {
    border-radius: 0px;

    &:backdrop { box-shadow: none; }

    &.low {
      background-color: $warning_color;

      &:backdrop { border-color: $warning_color; };
    }

    &.high,
    &:not(.empty) {
      background-color: $blue;

      &:backdrop { border-color: $blue; }
    }

    &.full {
      background-color: $red;

      &:backdrop { border-color: $red; };
    }

    &.empty {
      background-color: $scale_bg;
      border-color: $borders_color;
      box-shadow: none;
    }
  }
}
